extends ../main

block variables
    - var title = 'О компании'
    - var headerDopClass = 'header_second'

block content
    .container
        .bread
            a(href='/').bread__item Главная
            .bread__seporator
            a.bread__item О компании

        main.about
            //- main
            section.about__main
                //- title
                .about__title.title О компании
                //- content
                .about__content
                    .content
                        img(src='images/content/about/img.jpg' style='float: left; margin-top: 10px;margin-right: 30px;')
                        p Компания «XXI век» была основана в 1999 году. Сфера ее деятельности – оказание услуг по производству и размещению наружной рекламы. За годы существования агентство сумело занять прочные позиции в Москве и Московской области, и сегодня продолжает свое активное развитие, благодаря запуску новых продуктов в различных сегментах рынка наружной рекламы. Рекламные щиты в Подмосковье - один из них.
                        p Специализация рекламной деятельности компании «XXI век–ТВ» – это наружная реклама в Московской области. Наши рекламные щиты, билборды, ситиборды и суперсайты установлены на оживленных магистралях, федеральных трассах, центральных улицах и площадях крупных подмосковных городов и поселков. География нашей сети охватывает 29 районов ближнего Подмосковья, 17 крупных городов Московской области, 27 автотрасс федерального и регионального значения, 2 административных округа Москвы, Казанский аэропорт, а собственная адресная программа насчитывает более 900 рекламных конструкций и более 3000 поверхностей.
                        h3 Инновация компании
                        p Инновация компании - установка телекоммуникационного оборудования на любых рекламных конструкциях компании. Первоначальное назначение конструкции – размещение рекламы, а дополнительное – установка базовых станций сотовых операторов стандарта GSM 900/1800. Рекламная конструкция двойного назначения – разработка специалистов нашей компании, запатентованная в октябре 2006 года.
                        h3 Уличная мебель
                        p Уличная мебель – новое направление работы компании. В настоящее время реализуется проект «Народный телефон» – установка сети многофункциональных таксофонных кабин в Москве, Московской области и Казани. Программа «Народный телефон» была разработана и запатентована компанией «XXI век–ТВ» в 2007 году. Программа уникальна и не имеет аналогов в мире. Социальная программа «Народный телефон» входит в программу регионального развития партии «Единая Россия». Суть программы: компания «XXI век–ТВ» размещает телефонные кабины, позволяющие жителям Москвы и Московской области бесплатно пользоваться услугами местной и мобильной связи, Wi-Fi. На данный момент телефонные кабины программы «Народный телефон» размещены в Москве, Казани, Одинцово, Королеве, Наро-Фоминске, Дмитрове, Лобне, Видном.
                        h3 Стиборды
                        p С 2014 года компания «XXI век–ТВ» ввела в эксплуатацию рекламные конструкции нового формата – ситиборды с рекламным полем 2,7 х 3,7 м, с внутренней и внешней подсветкой и динамической ротацией изображений.
                        p «XXI век» оказывает полный спектр услуг в наружной рекламе, начиная от разработки рекламных кампаний и медиапланирования и заканчивая дизайном и печатью рекламных изображений. Главный акцент компания делает на разработке и предоставлении собственных конструкций для размещения наружной рекламы. Основными клиентами компании являются крупные FMCG-бренды, сетевые рекламные агентства, представители локального бизнеса.
                        p Сегодня в компании трудятся около 100 высокопрофессиональных специалистов – как в сфере рекламы, так и в смежных областях.



















