extends ../main

block variables
    - var title = 'Воздействие рекламы на клиентов. Срок действия рекламы'
    - var headerDopClass = 'header_second'

block content
    .container
        .bread
            a(href='/').bread__item Главная
            .bread__seporator
            a(href='articles.html').bread__item Статьи
            .bread__seporator
            a.bread__item Воздействие рекламы на клиентов. Срок действия рекламы

        main.article
            //- main
            section.news__main
                //- title
                .article__title.title Народный телефон пришел в Солнечногорск
                //- slider
                .article__img
                    img(src='images/content/news/img2.jpg').article__pic
                //- content
                .article__content
                    .content
                        p Наверное, никто из рекламодателей не сомневается в том, что срок воздействия рекламы на клиентов очень недолог. Вот они увидели ваше объявление, захотели купить рекламируемый товар. Направились в сторону вашего магазина, и тут, на их пути возникают новые предложения, новые торговые точки, в которых продаются еще более привлекательные товары. Как сделать так, чтобы продлить период действия вашей рекламы? И что можно придумать для того, чтобы ваши потенциальные клиенты не передумали и не обратились к вашим конкурентам?
                        p Во-первых, очень важно создание такого предложения, от которого невозможно отказаться. Пусть ваши товары или услуги стоят хоть немного меньше, чем в конкурирующих компаниях. Или у вас будут скидки. Либо вы предложите лучший сервис.
                        p Во-вторых, необходимо, чтобы у вашей компании был высокий авторитет. Создавайте свой собственный бренд, вкладывайте в его продвижение, придавая тем самым больший вес своей продукции. Именно в этом случае ваши товары будут раскупаться в первую очередь. Хорошо раскрученный бренд – это как любовь. В этом случае, все остальные становятся неинтересными и ненужными. И ваши покупатели, хоть и могут изменить, попробовать нечто новенькое, но все равно вернутся к вам.

                //- bottom
                .article__bottom.article__bottom_2
                    .article__post
                        .article__post-name Опубликовано:
                        .article__post-val 29.05.2019
                    .article__views
                        .article__views-name Просмотрено:
                        .article__views-val 123
                    .article__buttons
                        a(href='news-detal.html').article__button.button2
                            .button2__title Предыдущая новость
                        a(href='news-detal.html').article__button.button
                            .button__title Следующая новость






















