extends ../main

block variables
    - var title = 'Типы конструкций'
    - var headerDopClass = 'header_second'

block content
    .container
        .bread
            a(href='/').bread__item Главная
            .bread__seporator
            a.bread__item Типы конструкций
        main.catalog
            //- main
            section.catalog__main
                //- title
                .catalog__title.title Типы конструкций
                //- items
                .catalog__items
                    .row.catalog__items-row
                        each i,x in types
                            a(href='category.html').catalog__item
                                .board
                                    .board__img
                                        img(src='images/content/catalog/'+(x+1)+'.png')
                                    .board__desc
                                        .board__title= i.title
                                        .board__size
                                            +icon('ruler', 'board__size-svg')
                                            .board__size-size= i.size
            //- banner
            section.catalog__banner
                div(style='background-image:url(images/content/catalog/banner.jpg)').banner
                    .row
                        .banner__content
                            .banner__title Индивидуальный дизайн
                            .banner__text Наши профессиональные дизайнеры, нарисуют для Вас индивидуальный дизайн по вашим пожеланиям.
                            a(href='/').banner__link.button
                                .button__title Подробнее
            //- content
            section.catalog__content
                .catalog__content-title Рекомендуемые вам:
                .content
                    p Наверное, никто из рекламодателей не сомневается в том, что срок воздействия рекламы на клиентов очень недолог. Вот они увидели ваше объявление, захотели купить рекламируемый товар. Направились в сторону вашего магазина, и тут, на их пути возникают новые предложения, новые торговые точки, в которых продаются еще более привлекательные товары. Как сделать так, чтобы продлить период действия вашей рекламы? И что можно придумать для того, чтобы ваши потенциальные клиенты не передумали и не обратились к вашим конкурентам?
                    p Во-первых, очень важно создание такого предложения, от которого невозможно отказаться. Пусть ваши товары или услуги стоят хоть немного меньше, чем в конкурирующих компаниях. Или у вас будут скидки. Либо вы предложите лучший сервис.
                    p Во-вторых, необходимо, чтобы у вашей компании был высокий авторитет. Создавайте свой собственный бренд, вкладывайте в его продвижение, придавая тем самым больший вес своей продукции. Именно в этом случае ваши товары будут раскупаться в первую очередь. Хорошо раскрученный бренд – это как любовь. В этом случае, все остальные становятся неинтересными и ненужными. И ваши покупатели, хоть и могут изменить, попробовать нечто новенькое, но все равно вернутся к вам.













