extends ../main

block variables
    - var title = 'Главная'
    - var headerDopClass = ''

block content
    main.main
        section.main__slider
            .slider
                .swiper-container.slider__container
                    .swiper-wrapper.slider__wrapper
                        each i in [1,2,3,4]
                            .swiper-slide.slider__slide
                                div(style='background-image:url(images/content/main/slider/img.jpg)').slide
                                    .container.slide__container
                                        .slide__title
                                            |наружная реклама
                                            br
                                            |на вашей улице
                                        a.slide__link.button
                                            .button__title Типы конструкций

                    .swiper-pagination.slider__pag
