//variables
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin content() {
  ul {
    margin-bottom: 35px;
    letter-spacing: 0.9px;

    &:last-child{
      margin-bottom: 0;
    }

    li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 17px;

      &:before {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        background: url("/images/content/hexagon.svg") center center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 4px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h1 {
    margin: 0.67em 0;
  }
  h2 {
    margin: 0.83em 0;
  }

  h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    @include sm-block{
      font-size: 15px;
    };
  }

  h4 {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.72px;
  }

  h5 {
    margin: 1.67em 0;
  }
  h5 {
    margin: 2.33em 0;
  }
  p {
    margin-bottom: 25px;
    line-height: lh(15px,33px);
    letter-spacing: 0.9px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

@mixin headers() {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}