.footer {
  background-color: $white2;

  &__top {
    padding: 15px 0;
    border-top: 1px solid rgba($black-light,.1);
    border-bottom: 1px solid rgba($black-light,.1);
    margin-bottom: 55px;
    @include md-block{
      margin-bottom: 40px;
    };
    @include xs-block{
      margin-bottom: 25px;
    };
    &-row {
      align-items: center;
    }
  }

  &__logo {
    @include col;
    @include size(8);
  }

  &__nav {
    @include col;
    @include size(16);
    @include md-block{
      display: none;
    };
  }

  &__mobile{
    display: none;
    @include md-block{
      display: flex;
      justify-content: flex-end;
    };
    @include size-md(16);


    &-svg {
      width: 25px;
      height: 25px;
      fill: $blue;

    }
  }

  &__middle {
    margin-bottom: 55px;
    @include md-block{
      margin-bottom: 40px;
    };
    @include xs-block{
      margin-bottom: 25px;
    };
  }

  &__left {
    @include col;
    @include size(8);
    @include size-md(24);
    @include md-block{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    };
  }

  &__right {
    @include col;
    @include size(16);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include md-block{
      display: none;
    };
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    @include lg-block{
      justify-content: space-between;
    };
    @include md-block{
      margin-bottom: 40px;
    };
    @include xs-block{
      margin-bottom: 20px;
    };
  }

  &__contact {
    margin-right: 65px;
    @include lg-block{
      margin-right: 0;
    };
    @include md-block{
      margin-right: 60px;
    };
    &:last-child {
      margin-right: 0;
    }
  }

  &__socials{
    @include md-block{
      width: 100%;
      display: flex;
      justify-content: center;
    };
  }

  .social {
    &__svg {
      fill: $blue;
    }
  }

  &__menu {
    width: calc(100%/3);
    padding-right: 60px;
    @include lg-block{
      padding-right: 10px;
    };
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &-svg {
      width: 10px;
      min-width: 10px;
      height: 10px;
      fill: $blue ;
      margin-right: 20px;
    }

    &-title {
      @include lg-block{
        font-size: 12px;
      };
    }
  }

  &__bottom {
    background-color: $text;
    padding: 18px 0;
    @include xs-block{
      padding: 13px 0;
    };
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include xs-block{
        flex-direction: column;
      };
    }
  }

  &__copy {
    color: rgba($bg,.2);
    font-size: 12px;
    text-transform: uppercase;
  }
  &__policy {
    color: rgba($bg,.2);
    font-size: 12px;
  }

}