.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &_second {
    position: relative;
    background-color: $white2;
    border-bottom: 1px solid rgba($black-light,.1);

    .header {
      &__bottom {
        padding: 15px 0;
      }
    }
  }

  &__top {
    background-color: $text;
    padding: 16px 0;
    height: 50px;
    overflow: hidden;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    @include xs-block{
      display: none;
    };
  }

  &__contact {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__bottom {
    padding-top: 50px;
    @include xs-block{
      padding-top: 15px;
    };
    &-row {
      align-items: center;
    }
  }

  &__logo {
    @include col;
    @include size(8);
  }

  &__nav {
    @include col;
    @include size(16);
    @include md-block{
      display: none;
    };
  }

  &__mobile{
    display: none;
    @include md-block{
      display: flex;
      justify-content: flex-end;
    };
    @include size-md(16);


    &-svg {
      width: 25px;
      height: 25px;
      fill: $blue;

    }

    &-close{
      width: 23px;
      height: 23px;
      background-color: #4e9039;
      background-image: linear-gradient(to top, $orange2 0%, $orange 100%);
    }
  }
}

