-
    var socials = [
    {
    link: '/',
    svg: 'yt'
    },
    {
    link: '/',
    svg: 'vk'
    },
    {
    link: '/',
    svg: 'insta'
    },
    {
    link: '/',
    svg: 'fb'
    }
    ];
-
    var headerContacts = [
    {
    href: 'tel:+7(495)6603790',
    svg: 'phone',
    title: '+7 495 660 37 90'
    },
    {
    href: 'mailto:+7(495)6603790',
    svg: 'email',
    title: 'info@21vek.ru'
    }
    ];
-
    var nav = [
    {
    link: '/',
    title: 'Главная',
    dopClass: 'active'
    },
    {
    link: 'about.html',
    title: 'О компании'
    },
    {
    link: 'catalog.html',
    title: 'Типы конструкций'
    },
    {
    link: '/',
    title: 'Услуги'
    },
    {
    link: 'news.html',
    title: 'Новости '
    },
    {
    link: '/',
    title: 'Документы'
    },
    {
    link: 'contacts.html',
    title: 'контакты'
    }
    ];
-
    var types = [
    {
    title: 'Магистральные щиты',
    size: '3.0 х 6.0 м'
    },
    {
    title: 'Народные телефоны',
    size: '1.2 х 1.8 м'
    },
    {
    title: 'Ситиборды',
    size: '2.7 х 3.7 м'
    },
    {
    title: 'Суперборды',
    size: '4 х 12 м'
    },
    {
    title: 'Суперсайты',
    size: '5 х 15 м'
    },
    {
    title: 'цИФРОВЫЕ СУПЕРСАЙТЫ',
    size: '5 х 15 м'
    },
    {
    title: 'Цифровые билборды',
    size: '3.0 х 6.0 м'
    },
    {
    title: 'ЦифровЫЕ ситибордЫ',
    size: '2.7 х 3.7 м'
    }
    ];
-
    var productList = [
    {
    name: 'Статус:',
    value: 'Занято',
    dopClass: 'product__item-value_red'
    },
    {
    name: 'Статус:',
    value: 'Свободно',
    dopClass: 'product__item-value_green'
    },

    {
    name: 'Сторона:',
    value: 'А',
    },
    {
    name: 'Высота (м):',
    value: '8',
    },
    {
    name: 'Формат (м):',
    value: '3 х 6',
    },
    {
    name: 'Наличие подсветки:',
    value: 'Нет',
    },
    {
    name: 'Координаты:',
    value: '55.771583 / 37.96115',
    },
    {
    name: 'Направление:',
    value: 'в Москву',
    },
    {
    name: 'Инвентарный номер::',
    value: '624',
    }
    ]
-
    var contacts = [
    {
    title: 'Центральный офис',
    list: {
    'Адрес:': '115326, г. Москва, ул. Пятницкая, д. 25, стр. 1 (здание "Россия сегодня")',
    'Телефон  Факс:': '+7 (495) 660-37-90',
    'E-mail:': 'info@21vektv.ru'
    },
    mapId: 'mapOffice',
    socials: true,
    docs: false
    },
    {
    title: 'Склад',
    list: {
    'Адрес:': 'Ул. Народного Ополчения улица д.43, корп.2 стр 5. (ст м Октябрьское поле, первый вагон из центра).',
    'Телефон  Факс:': '+7 (495) 215-18-90',
    'E-mail:': 'Пн-Пт с 11.00 до 20.00'
    },
    mapId: 'mapStore',
    socials: false,
    docs: true
    }
    ];